# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Anthony Poon")

Anthony Poon

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv("data/listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
print(len(df[df["price"] < 100]))

22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = df[df["neighbourhood_group"] == "Brooklyn"]

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

print(len(df_bk[df_bk["price"] < 100]))

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

names = ["Michael", "David", "John", "Daniel"]
print(len(df[df.host_name.isin(names)]))

1258

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df["adjusted_price"] = np.where(df["neighbourhood"] == "Williamsburg", df["price"] + 100, df["price"])

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

percentages = df.room_type.value_counts(normalize=True)
percentages = 100 * percentages
percentages.loc[["Private room", "Shared room"]]

Private room    45.444581
Shared room      2.121349
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
neighbourhood_groups = df.groupby(["neighbourhood_group"])
print(neighbourhood_groups.size())

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
print(neighbourhood_groups["price"].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
print(df.groupby(["room_type"])["price"].mean())

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

print(neighbourhood_groups["price"].agg(["min","max"]))

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
rooms_and_neighbourhood_groups = df.groupby(["neighbourhood_group", "room_type"])
print(rooms_and_neighbourhood_groups["price"].mean())

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

print(rooms_and_neighbourhood_groups["price"].agg(["count", "min", "max", "median", "std"]))

                                     count  min    max  median         std
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404   103.0  126.032106
                    Private room       722   16    700    55.0   57.337866
                    Shared room         46   20    800    44.0  114.442703
Brooklyn            Entire home/apt   9112   20  10000   135.0  236.732843
                    Hotel room          30    0    399   129.0   91.153206
                    Private room      9159   10   2500    60.0   69.023165
                    Shared room        331   15   1500    36.0   92.217618
Manhattan           Entire home/apt  12209    0  10000   165.0  410.306439
                    Hotel room         351    0   2211   210.0  315.924085
                    Private room      7601   10  10000    80.0  448.677306
                    Shared room        419   10  10000    60.0  502.728868
Queens              Entire home/apt   2090   10  10000   115.0  252.606739
                    Hotel room          17    0    249   149.0   50.743806
                    Private room      3499   18   9000    55.0  163.814468
                    Shared room        185   14   3000    40.0  275.675158
Staten Island       Entire home/apt    172   39   1200   111.0  147.518392
                    Private room       163   20    800    55.0   70.759593
                    Shared room          6   19     82    38.0   28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices_df = pd.read_csv("data/prices.csv")
n_listings_df = pd.read_csv("data/n_listings.csv", sep=";")

In [17]:
# 2. Do join that keeps all the records for each table.

joined_df = pd.merge(prices_df, n_listings_df, on="neighbourhood_group")
joined_df.to_csv("joined.csv", index=False)

loaded_joined_csv = pd.read_csv("joined.csv")
print(loaded_joined_csv)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years and add them all into one data frame using pandas.